/* Author profile */
.author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 36px;
    height: 36px;

    @include breakpoint($large) {
        display: block;
        width: auto;
        height: auto;
    }

    img {
        max-width: 110px;
        border-radius: 0;
        /* Remove border radius */

        @include breakpoint($large) {
            padding: 0;
            /* Remove padding */
            border: none;
            /* Remove border */
        }
    }
}