/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* type scale */
$type-size-1: 0.95em !default; // ~15px
$type-size-2: 0.85em !default; // ~14px
$type-size-3: 0.75em !default; // ~12px
$type-size-4: 0.65em !default; // ~10px
$type-size-5: 0.6em !default; // ~9.5px
$type-size-6: 0.55em !default; // ~9px
$type-size-7: 0.5em !default; // ~8px
$type-size-8: 0.45em !default; // ~7px

/* headline scale */
$h-size-1: 0.95em !default; // ~15px
$h-size-2: 0.85em !default; // ~14px
$h-size-3: 0.75em !default; // ~12px
$h-size-4: 0.65em !default; // ~10px
$h-size-5: 0.6em !default; // ~9.5px
$h-size-6: 0.55em !default; // ~9px

/* paragraph indention */
$paragraph-indent: false !default;

/* base font size and line height */
$doc-font-size: 12px !default;
$paragraph-margin-bottom: 0.75em !default;
$line-height: 1.4 !default;

/* content width */
$right-sidebar-width-narrow: 150px !default;
$right-sidebar-width: 200px !default;
$right-sidebar-width-wide: 250px !default;